<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Toggle Button</title>
	<!-- styles -->
	<link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<main>
		<div class="toggle">
			<button type="submit" class="toggle-btn" data-toggle="false" data-id="1" onclick="updateOnToggle(this);"></button>
		</div>
	</main>
	<!-- javascript -->
	<script src="/public/js/scripts.js"></script>
</body>
</html>
