
body { 
    margin: 0; 
    padding: 0;
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bi {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-brightness-high {
    color: transparent;
    font-size: 30px;
    justify-content: start;
}

.bi-moon {
    color: transparent;
    font-size: 30px;
    justify-content: end;
}

.toggle {
    border: 1px solid lightgray; 
    background-color: white; 
    border-radius: 45px; 
    display: flex; 
    align-items: center; 
    justify-content: start; 
    position: relative;
    padding: 8px; 
    width: calc((53px * 2) + 16px + 8px); /* toggle-switch's width + 2* toggle padding or 16 px + 2* border */
    height: calc(53px + 16px + 8px);
    overflow: hidden;
    transform: rotate3d(1, -1, 1, 15deg);
}
/* give the parent another name for night mode and day mode */
.toggle-day-mode {
    border: 4px solid lightgray;
    background-color: white;
    box-shadow: 0 0 8px lightgray;
}

.toggle-night-mode {
    border: 4px solid lightslategray;
    background-color: rgb(36, 46, 46); /* darkslategray; */
}
.toggle-switch::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: white;
    min-width: 45px;
    max-width: 45px;
    height: 45px;
    border-radius: 100%;
}
.toggle-switch {
    border-radius: 100%; 
    width: 53px; 
    height: 53px; 
    position: absolute;
    z-index: 1;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: rgb(55, 55, 55);
}
.toggle-switch::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: rgb(55, 55, 55);
    min-width: 45px;
    max-width: 45px;
    height: 45px;
    border-radius: 100%;
}
.toggle-switch:hover {
    cursor: pointer
}
.toggle-switch[data-value="false"] {
    transform: translateX(0);
    box-shadow: none;
    /* background-color: rgb(55, 55, 55); */
    border: 8px solid white; 
}
.toggle-switch[data-value="false"]::after {
    background-color: rgb(55, 55, 55);
}
.toggle-switch[data-value="true"] {
    border: 8px solid gold; 
    transform: translateX(100%); 
    /* background-color: white; */
    box-shadow: 0 0 8px gray;
}
.toggle-switch[data-value="true"]::after {
    background-color: lightgoldenrodyellow;
}

.toggle-night-mode> :nth-child(1)> .bi-moon {
    color: white;
    animation-name: fallingMoon;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.toggle-day-mode> :nth-child(1)> .bi-brightness-high {
    color: gold;
    animation-name: atSunrise;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes toggleSlideOn {
    from {
        transform: translateX(0);
    } 
    to {
        transform: translateX(100%);
    }

}
@keyframes toggleSlideOff {
    from {
        transform: translateX(100%);
    } 
    to {
        transform: translateX(0);
    }

}

/* animate the sunrise and moon */
@keyframes atSunrise {
    from {
        transform: translateY(16px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fallingMoon {
    from {
        transform: translate(16px, -12px) rotateZ(-60deg);
    }
    to {
        transform: translate(0);
    }
}