
body { 
    margin: 0; 
    padding: 0;
}
main {
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.toggle {
    border: 1px solid lightgray; 
    background-color: white; 
    border-radius: 45px; 
    display: flex; 
    align-items: center; 
    justify-content: start; 
    padding: 4px; 
    width: 136px;
}
.toggle-switch {
    border: 1px solid lightgray; 
    background-color: white; 
    border-radius: 100%; 
    width: 68px; 
    height: 68px; 
}
.toggle-switch:hover {
    cursor: pointer
}
.toggle-switch[data-value="false"] {
    transform: translateX(0);
    box-shadow: none;
}
.toggle-switch[data-value="true"] {
    transform: translateX(100%); 
    box-shadow: 0 0 8px lightgray;
}
@keyframes toggleSlideOn {
    from {
        transform: translateX(0);
    } 
    to {
        transform: translateX(100%);
    }

}
@keyframes toggleSlideOff {
    from {
        transform: translateX(100%);
    } 
    to {
        transform: translateX(0);
    }

}